@using SoftEng.DataAccess.DataObjects;
@{
    ViewData["Title"] = "User Home";
}
@model SoftEng.Models.UserHomeModel

<script type="text/javascript" src="~/js/UserHome.js"></script>

<partial name="UserNavBar"/>

<h2 align="center">User Home</h2>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Today's Schedule</h3>
  </div>
  <div class="panel-body">
     <ul>
        @foreach(Event e in this.Model.UserHomeEvents)
        {
            <li><strong><span>@(e.Name)</span></strong></li>
            <ul>
                @if (e.Location != null || e.Location != "")
                {
                <li>Location: @(e.Location)</li>
                }
                <li>Date: @(e.EventDate.ToShortDateString())</li>
                <li>Time: @(e.EventTime.ToString())</li>
                    Complete <input type="checkbox" id="@e.Id" value="@e.Id" onclick="progress(@e.Id)" autocomplete="off">
            </ul>
        }
    </ul>
      <label>Today's Progress:</label>
      <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only">45% Complete</span>
    </div>
    </div>
  </div>
</div>